@import url("https://fonts.googleapis.com/css?family=Raleway");

/*main background part*/
body{
  font: 15px/1.5 'Raleway';
  padding:0;
  margin:0;
  background: #f3f8ff;
}
/*scrolling*/
html {
  scroll-behavior: smooth;
}
/*upper border part*/
header{
  font: 20px/1.5 'Raleway'; /*go corona size*/
  background: hsl(256, 50%, 71%);
  color: #ffffff;  /*go corona*/
  padding-top: 30px; /*upper border upper height*/
  min-height: 50px; /*upper border bottom height*/
  border-bottom: hsl(256, 32%, 75%) 6px solid;
}

/*home about contact us*/
header a{
  color:#ffffff;  
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px; /*home about size*/
}

header li{
  display:inline;
  padding: 0 20px 0 20px; /*dist bet home about*/
}

header #branding{
  float:center; /*home...position*/
}

header #branding h1{
  margin:0;
  font-weight:bolder;
}

header nav{
  float:right;
  margin-top:-40px;
}

header .highlight, header .current a{
  color:#fff;
  font-weight:bold;
  font-size: 30px; /*home size*/
}

.highlighted{
  font-weight:bolder;
}

/*underline animation*/
header a {        
  position: relative;
}

header a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 60%;
  height: 1px;
  opacity: 0;
  background-color: hsl(256, 50%, 71%);
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
}

header a:hover::after {
  width: 100%;
  opacity: 1;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}


.icons {
    margin-top: 25px;
  }
  .icons a {
    display: inline-block;
    width: 32px;
    height: 35px;
    cursor: pointer;
    background: #hsl(256, 50%, 71%);
    background-color:#3b3a3a;
    border-radius: 50px;
    border: 1px solid #fff;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px; /*dist bet icons*/
    margin-bottom: 5px;
  }

  